<% films.each do |film| %>
  <%= link_to film_path(film), class: "film-card" do %>
    <% card_thumbnail = film.display_thumbnail %>
    <div class="film-thumbnail">
      <% if card_thumbnail.present? %>
        <%= image_tag card_thumbnail, alt: film.title, loading: "lazy" %>
      <% else %>
        <div class="placeholder"></div>
      <% end %>
      <div class="inner-ring"></div>
    </div>
    <div class="film-info">
      <div class="film-title"><%= film.title %></div>
      <% if film.release_date.present? %>
        <div class="film-year"><%= film.release_date.year %></div>
      <% end %>
      <div class="role-badges">
        <% roles = user.film_roles(film) %>
        <% roles.each do |role| %>
          <span class="role-badge <%= role.downcase %>"><%= role %></span>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
