<% show_pending = local_assigns.fetch(:show_pending, false) %>
<% unique_id = local_assigns.fetch(:unique_id, film.id) %>
<% thumbnail = film.display_thumbnail %>

<div class="film-thumbnail <%= 'pending-film' if show_pending %>">
  <% if thumbnail.present? %>
    <% if thumbnail.respond_to?(:attached?) %>
      <%= image_tag thumbnail, alt: film.title, loading: "lazy" %>
    <% else %>
      <%= image_tag thumbnail, alt: film.title, loading: "lazy" %>
    <% end %>
  <% else %>
    <div class="placeholder"></div>
  <% end %>
  <div class="inner-ring"></div>
  <% if show_pending %>
    <svg class="pending-arc-text" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
      <defs>
        <path id="pending-arc-<%= unique_id %>" d="M 50,70 A 50,50 0 0,1 150,70" fill="transparent"/>
      </defs>
      <text font-size="13" font-weight="900" fill="#ffa500" letter-spacing="8">
        <textPath href="#pending-arc-<%= unique_id %>" startOffset="50%" text-anchor="middle">
          PENDING
        </textPath>
      </text>
    </svg>
  <% end %>
</div>
